
Optimized Oasis/.minecraft/config/fancymenu/assets/loading-screen/bar_v4.png
Optimized Oasis/.minecraft/config/fancymenu/assets/loading-screen/border_v4.png
Optimized Oasis/.minecraft/config/fancymenu/assets/loading-screen/oldbar_v4.png
